USE [master]
GO
/****** Object:  Database [GSTDB]    Script Date: 2/28/2021 1:02:03 PM ******/
CREATE DATABASE [GSTDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSTDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.WALTER_BLACK\MSSQL\DATA\GSTDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GSTDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.WALTER_BLACK\MSSQL\DATA\GSTDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSTDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSTDB]
GO
/****** Object:  Table [dbo].[GstReg]    Script Date: 2/28/2021 1:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GstReg](
	[SrNo] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](255) NULL,
	[GSTIN] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TurnoverAmount] [money] NULL,
	[ContactEmail] [varchar](50) NULL,
	[ContactNumber] [varchar](10) NULL,
 CONSTRAINT [PK_GstReg] PRIMARY KEY CLUSTERED 
(
	[SrNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[gstregproc]    Script Date: 2/28/2021 1:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[gstregproc]
@SrNo int,
@CompanyName varchar(255),
@GSTIN nvarchar(50),
@StartDate date,
@EndDate date,
@TurnoverAmount money,
@ContactEmail varchar(50),
@ContactNumber varchar(10)
as
	if @SrNo = 0
	begin
		insert into GstReg(CompanyName,GSTIN,StartDate,EndDate,TurnoverAmount,ContactEmail,ContactNumber)
		values (@CompanyName,@GSTIN,@StartDate,@EndDate,@TurnoverAmount,@ContactEmail,@ContactNumber)
	end
	else
	begin
		update GstReg
		set
			CompanyName = @CompanyName,
			GSTIN = @GSTIN,
			StartDate = @StartDate,
			EndDate = @Enddate,
			TurnoverAmount = @TurnoverAmount,
			ContactEmail = @ContactEmail,
			ContactNumber = @ContactNumber
		where SrNo = @SrNo
	end
GO
/****** Object:  StoredProcedure [dbo].[Ssearch]    Script Date: 2/28/2021 1:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Ssearch]
	(
@name Varchar (250)

)
as
Begin
select * from GstReg where CompanyName=@name
End
GO
USE [master]
GO
